body {
  background-color: white;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}