body {
  background-color: #313338;
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.top {
  background-color: black;
  border-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  display: flex;
}

.top a {
  float: left;
  background-color: white;
  color: black;
  text-align: middle;
  text-decoration: none;
  transition: .5s background-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  display: flex;
}

.top a:hover {
  background-color: darkgray;
}

.gradient {
  margin-top: 1%;
  height: 200px;
  background-image: linear-gradient(to bottom, #313338, black);
}

.bottom {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 3%;
}

.bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}