html {
  scroll-behavior: smooth;
}

body {
  background-color: #313338;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: gold;
}

img {
  display: block;
  margin: auto;
  width: 70%;
}

.top {
  background-color: black;
  border-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  display: flex;
  background-image: linear-gradient(to bottom right, black, #313338);
}

.top a {
  float: left;
  background-color: white;
  color: black;
  text-align: middle;
  text-decoration: none;
  transition: .5s background-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  display: flex;
}

.top a:hover {
  background-color: darkgray;
}

.gradient {
  margin-top: 1%;
  height: 200px;
  background-image: linear-gradient(to bottom, #313338, black);
}

.bottom {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 3%;
}

.bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cbox {
  img {
    display: block;
    width: 10%;
  }
  border: 1px solid black;
  position: relative;
  margin: 30px;
  padding: 30px;
  border-radius: 15px;
  max-width: 20%;
  min-width: 150px;
  background-color: gray;
  transition: .5s;
}

.cbox:hover {
  transform: scale(105%);
}

h4 {
  text-align: center;
}